/*Sets the background color for the pane that the box and line objects are created*/
.centerPane
{
	-fx-background-color: white;
}

/*sets button format options*/
.toggle
{
    /*-fx-base: #ffffff;*/
    -fx-padding: 5 5 5 5; 
    -fx-alignment: center; 
}

/*text padding for text button*/
.text
{
	-fx-padding: 11 13 11 13;
}

.delete{
	-fx-padding :5 9 5 9;
}
