.centerPane{
	-fx-background-color: white;
}

.border{
	-fx-padding: 0 50 0 0;
}

.button{
    -fx-base: #ffffff;
    -fx-padding: 5 5 5 5; 
    -fx-alignment: center ;
}

.line{
	-fx-padding: 5 5 5 5;
 }

.text{
	-fx-padding: 11 8 11 8;
}
